// MEDIA QUERIES
$breakpoints: (xs: 320px, // iPhone 5 320px
    s: 414px, // iPhone 8 plus 414px
    m: 768px, // iPad portrait 768px
    l: 1024px, // iPad landscape 1024px
    xl: 1280px);

@mixin MQ($size)
{
    $breakpoint: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint)
    {
        @content;
    }
}

// UPPERCASE TITLES
@mixin uppercase($ls: 5px)
{
    letter-spacing: $ls;
    text-transform: uppercase;
}

// LINE HEIGHT
@mixin lhCrop($line-height)
{
    &::before
    {
        display: block;

        width: 0;
        height: 0;
        margin-top: calc((1 - #{$line-height}) * .5em);

        content: '';
    }
}
