<section class="global-wrapper about-wrapper">
   <h2 id="about">About</h2>
   <div class="global-container about-container">
      <div class="about-container__content">
         <p>
            The youngest of four, Abigail was born in the UK to artist parents. With the backdrop of rugged Dartmoor and a home full of creativity, art came naturally and she grew up drawing, spending thousands of hours mastering realism.
            <br>
            <br>
            As a young adult, she abandoned drawing completely while she and her husband travelled together. They lived in New Zealand for several years before venturing to the East Coast of Canada where they settled and raised three children.
            <br>
            <br>
            One day about 15 years later, she picked up a piece of charcoal from the embers of a fire and started to draw again, instantly reigniting her passion for art. Charcoal was a medium she had never worked with and she had never <d> </d>rawn
            an
            animal, but they both took her hand and led her into the wilderness…
         </p>
         <h3>To purchase a commission or an original.</h3>
         <div class="about-cta">
            <a class="about-btn btn-primary" href="#contact" aria-label="contact me">Contact me</a>
            <a class="brochure" href="{{ site.baseurl }}assets/pdf/wild-catalogue-min.pdf" aria-label="download brochure">Download brochure</a>
         </div>
      </div>
      <img class="about-container__portrait" src="assets/img/abigail-lower-art-portrait.png" alt="Abigail Lower portrait" sizes="(min-width: 500px) 50vw, 100vw" srcset="assets/img/abigail-lower-art-portrait.png 500w,
      			assets/img/abigail-lower-art-portrait_2.png 750w,
      			assets/img/abigail-lower-art-portrait_3.png 1000w,
      			assets/img/abigail-lower-art-portrait_4.png 1250w">
   </div>
</section>