<form class="contact__form" id="contact-form" name="Contact form from website" method="POST" data-netlify="true" role="form" aria-label="Contact me form">

   <input class="contact__input contact__input-first input" name="Full name" type="text" aria-label="Full name" placeholder="Name" required>
   <input class="contact__input  input" name="Email address" type="email" aria-label="Email address" placeholder="Email" required>

   <textarea class="contact__input contact__input-last text-area input" name="Subject" aria-label="subject area" rows="4" wrap="soft" form="contact-form" placeholder="Subject" required></textarea>

   <button class="global__btn-primary contact__btn" type="submit">Send</button>

</form>