<div class="global__wrapper cookie-wrapper">
   <div class="global__container cookie-container">
      <div class="cookie-content">
         <p class="cookie-text">We use cookies on this website. By continuing to use this website you consent to the use of cookies.</p>
         <a class="global__link-primary cookie-link" href="{{site.baseurl}}/privacy/">Read our cookie policy here</a>.
      </div>
      <a class="global__btn-primary agree-cookies" aria-label="consent to cookies">Accept</a>
   </div>
</div>