<footer class="global__wrapper footer-wrapper">
   <div class="global__container footer-container">
      <a class="dl-logo" href="{{site.designer-url}}" aria-label="David Lower Designs company">
         <img src="/assets/img/david-lower-designs-logo.svg" alt="David Lower Designs company logo">
         <p class="tooltip">Designed and created by David Lower Designs</p>
      </a>
      <div class="footer-content">
         <p class="copyright">
            Copyright ©
            <span id="copyright">
               <script nonce="6eece5b0f251e014550f">
                  document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
               </script>
            </span>
            {{ site.title }}
         </p>
         <a class="global__link-secondary footer-link" href="{{site.baseurl}}/privacy/" aria-label="Privacy and cookie policy">Privacy & Cookie Policy</a>
      </div>
   </div>
</footer>