<header class="nav-wrapper" role="banner" id="nav">

   <nav class="nav nav-desktop" role="navigation">
      <!-- <div class="logo-container"> -->
      <a class="logo-link" href="{{ site.baseurl }}/" aria-hidden="true" tabindex="-1">
         <img class="logo" src="{{site.baseurl}}/assets/img/david-lower-designs-logo.svg" alt="David Lower Designs logo">
      </a>
      <!-- </div> -->
      <ul class="nav__list nav__list-desktop nav__list-mobile">
         <li class="nav__item nav__item-first">
            <a class="nav__link" href="{{ site.baseurl }}/">
               Home
            </a>
         </li>
         <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/about">
               About
            </a>
         </li>
         <li class="nav__item nav__item-last">
            <a class="nav__link contact" href="{{ site.baseurl }}/contact">
               Contact
            </a>
         </li>
      </ul>
      <div class="burger-icon" id="burger-icon">
         <div class="burger-icon__line burger-icon__line-1"></div>
         <div class="burger-icon__line burger-icon__line-2"></div>
         <div class="burger-icon__line burger-icon__line-3"></div>
      </div>
   </nav>
   <div class="placeholder none"></div>
   <div class="placeholder-mobile"></div>
</header>