<header class="nav-wrapper" role="banner">

   <nav class="nav" id="nav" role="navigation">

      <a class="nav__logo-link" href="{{ site.baseurl }}/#home" aria-hidden="true" tabindex="-1">
         <img class="nav__logo" src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.company }} logo">
      </a>

      <ul class="nav__list">
         <li class="nav__list-item nav__list-item-first">
            <a class="nav__list-link l-link-primary" href="{{ site.baseurl }}/#home">
               Home
            </a>
         </li>
         <li class="l-link-primary nav__list-item">
            <a class="nav__list-link l-link-primary" href="{{ site.baseurl }}/#services" aria-label="My services">
               Services
            </a>
         </li>
         <li class="nav__list-item">
            <a class="nav__list-link l-link-primary" href="{{ site.baseurl }}/#about" aria-label="About me">
               About
            </a>
         </li>
         <li class="nav__list-item nav__list-item-last">
            <a class="l-btn-primary nav-btn" href="{{ site.baseurl }}/#contact" aria-label="Contact me">
               Contact
            </a>
         </li>
      </ul>

   </nav>

   <div class="burger-icon" id="burger-icon">
      <div class="burger-icon__line burger-icon__line-1"></div>
      <div class="burger-icon__line burger-icon__line-2"></div>
      <div class="burger-icon__line burger-icon__line-3"></div>
   </div>

</header>