// GLOBAL CONTAINER VARIABLES

.l-section-title
{
    font-size: 4.7rem;
    line-height: 5.2rem;

    width: var(--website-width);
    max-width: var(--website-max-width);
    margin: 0 auto 80px;

    @include MQ(s)
    {
        font-size: 3.2rem;
        line-height: 3.7rem;

        margin: 0 auto 40px;
    }
}

.l-body-text
{
    line-height: 1.6rem;
}

// BUTTONS
.l-btn-primary,
.l-link-primary
{
    font-weight: 200;

    display: block;

    cursor: pointer;
    text-decoration: none;
}

.l-btn-primary
{
    font-size: $fs;

    padding: 11px 32px;

    text-align: center;

    color: white;
    border: none;
    border-radius: 8px;
    background-color: $brand-1;

    @include MQ(s)
    {
        font-size: $fs-small;

        width: 100%;
    }

    &:hover
    {
        background-color: $brand-1-dark;
    }
}

// LINKS
.l-link-primary
{
    display: inline-block;

    color: $brand-1;

    &:hover
    {
        color: $brand-1-dark;
    }
}

.l-input-primary
{
    font-family: $p-ff;
    font-size: $fs;
    font-weight: 200;

    padding: 15px;

    color: $text;
    border: solid 2px $brand-1;
    border-radius: 8px;
    background-color: white;

    @include MQ(s)
    {
        font-size: $fs-small;
    }

    &-first
    {
        margin-top: 0;
    }

    &::placeholder
    {
        font-weight: 200;

        color: $text;
    }
}
