@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Light.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/Ubuntu-Light.ttf");
  font-style: normal;
  font-weight: 300; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body,
html {
  color: #303030;
  font-family: ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  backface-visibility: hidden;
  scroll-behavior: smooth; }

.main-page-wrapper,
body,
html {
  height: 100%; }

.global__wrapper {
  padding: 110px 65px; }
  @media screen and (max-width: 1024px) {
    .global__wrapper {
      padding: 70px 50px; } }
  @media screen and (max-width: 768px) {
    .global__wrapper {
      padding: 55px 35px; } }
  @media screen and (max-width: 414px) {
    .global__wrapper {
      padding: 35px 20px; } }

.global__container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .global__container {
      font-size: 14px; } }

.global__h1 {
  font-size: 2.3rem;
  line-height: 2.8rem;
  font-weight: 300;
  font-family: raleway, sans-serif; }

.global__h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 300;
  font-family: raleway, sans-serif; }

.global__h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 300;
  font-family: raleway, sans-serif; }

.global__link, .global__link-primary, .global__link-secondary {
  text-decoration: none; }
  .global__link:active, .global__link-primary:active, .global__link-secondary:active {
    transform: translateY(1px); }
  .global__link:hover, .global__link-primary:hover, .global__link-secondary:hover {
    text-decoration: underline; }

.global__link-primary {
  color: #08988f; }
  .global__link-primary:hover {
    color: #056861; }

.global__link-secondary {
  text-decoration: underline;
  color: #0A0A0A; }
  .global__link-secondary:hover {
    color: black; }

.global__btn, .global__btn-primary, .global__btn-secondary {
  display: inline-block;
  padding: 1em 3em;
  transition: all 280ms ease;
  text-align: center;
  text-decoration: none;
  font-size: 1em; }
  .global__btn:active, .global__btn-primary:active, .global__btn-secondary:active {
    transform: translateY(1px); }

.global__btn-primary {
  color: white;
  background-color: #08988f; }
  .global__btn-primary:hover {
    background-color: #056861; }

.global__btn-secondary {
  color: #0A0A0A;
  border: solid 1px #0A0A0A;
  background-color: inherit; }
  .global__btn-secondary:hover {
    background-color: black; }

.nav-wrapper {
  width: 100%;
  background-color: #0A0A0A;
  font-family: raleway, sans-serif; }

.nav, .nav-desktop, .sticky {
  z-index: 5;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0A0A0A; }
  .nav__list, .nav-desktop .nav__list-desktop {
    list-style: none; }
  .nav__item {
    display: inline-block;
    margin-right: 4rem; }
    .nav__item-last {
      margin-right: 0; }
  .nav__link {
    display: block;
    text-decoration: none;
    color: #08988f; }
    .nav__link:hover {
      color: #1058d9; }
    .nav__link:target {
      color: #1058d9; }
  .nav .logo-link, .nav-desktop .logo-link, .sticky .logo-link {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto 20px; }

.nav-desktop {
  flex-direction: column;
  justify-content: center;
  height: 230px; }
  @media screen and (max-width: 768px) {
    .nav-desktop {
      position: fixed;
      top: 0;
      overflow: hidden;
      justify-content: flex-start;
      height: 90px;
      padding: 16px; }
      .nav-desktop .logo-link {
        position: relative;
        width: 90px;
        margin-bottom: 0; }
      .nav-desktop .nav__item {
        display: block;
        margin-right: 0;
        margin-bottom: 20px; }
        .nav-desktop .nav__item-last {
          margin-bottom: 0; } }
  @media screen and (max-width: 768px) {
    .nav-desktop .nav__list-desktop {
      height: 230px;
      margin-top: 20px;
      transition: all 400ms ease;
      text-align: center; } }

.sticky {
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: center;
  height: 90px; }
  .sticky .logo-link {
    position: absolute;
    left: 30px;
    width: 90px;
    margin: 0; }

.placeholder,
.placeholder-mobile {
  width: 100%;
  height: 230px;
  background-color: #0A0A0A; }

.placeholder-mobile {
  height: 90px; }

.burger-icon {
  position: absolute;
  top: calc(90px / 2 - (19px / 2));
  right: 30px;
  display: none;
  width: 28px;
  cursor: pointer;
  transform: rotateZ(180deg); }
  @media screen and (max-width: 768px) {
    .burger-icon {
      display: block; } }
  .burger-icon:hover .burger-icon__line {
    background-color: #1058d9; }
  .burger-icon:active {
    transform: translateY(1px) rotateZ(180deg); }
  .burger-icon__line {
    width: 100%;
    height: 3px;
    transition: all 400ms ease-in-out;
    background-color: #08988f; }
  .burger-icon__line-1 {
    width: 91%; }
  .burger-icon__line-2 {
    width: 80%;
    margin: 5px 0; }

.open .burger-icon__line {
  width: 100%; }

.open .burger-icon__line-1 {
  transform: rotateZ(45deg) translate(3px, 8px); }

.open .burger-icon__line-3 {
  transform: rotateZ(-45deg) translate(3px, -8px); }

.open .burger-icon__line-2 {
  width: 0; }

.footer-wrapper {
  padding: 16px 65px; }
  @media screen and (max-width: 1024px) {
    .footer-wrapper {
      padding: 14px 50px; } }
  @media screen and (max-width: 768px) {
    .footer-wrapper {
      padding: 18px 35px; } }
  @media screen and (max-width: 414px) {
    .footer-wrapper {
      padding: 18px 20px; } }

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 13px; }
  @media screen and (max-width: 768px) {
    .footer-container {
      align-items: center;
      flex-direction: column; } }
  .footer-container .dl-logo {
    width: 120px;
    height: auto; }
    @media screen and (max-width: 768px) {
      .footer-container .dl-logo {
        margin-bottom: 20px; } }
    .footer-container .dl-logo img {
      display: block; }
    .footer-container .dl-logo .tooltip {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 125px;
      visibility: hidden;
      width: 300px;
      padding: 12px 15px;
      transition: all 400ms ease;
      transform: translateY(-50%);
      text-align: center;
      opacity: 0;
      color: #ffffff;
      background-color: #08988f; }
      @media screen and (max-width: 768px) {
        .footer-container .dl-logo .tooltip {
          top: -64px;
          left: 50%;
          transform: translateX(-50%); } }
      .footer-container .dl-logo .tooltip::after {
        content: ""; }
    .footer-container .dl-logo:hover .tooltip {
      visibility: visible;
      opacity: 1; }
  .footer-container .footer-content {
    text-align: right; }
    @media screen and (max-width: 768px) {
      .footer-container .footer-content {
        text-align: center; } }

.privacy-wrapper h1 {
  margin-bottom: 1.9rem;
  text-align: center; }

.privacy-wrapper h2 {
  margin: 1.55rem 0; }

.privacy-wrapper h3:not(-first-of-type) {
  margin-top: 1.1rem;
  margin-bottom: 1rem; }

.privacy-wrapper p {
  margin-bottom: 0.9rem; }

.privacy-wrapper .global__btn-primary {
  margin-top: 0.9rem; }
  @media screen and (max-width: 414px) {
    .privacy-wrapper .global__btn-primary {
      width: 100%; } }

.cookie-banner {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  color: #08988f;
  background-color: rgba(10, 10, 10, 0.91);
  padding: 30px 65px; }
  @media screen and (max-width: 1024px) {
    .cookie-banner {
      padding: 22px 50px; } }
  @media screen and (max-width: 768px) {
    .cookie-banner {
      padding: 30px 35px; } }
  @media screen and (max-width: 414px) {
    .cookie-banner {
      padding: 18px 20px; } }

.cookie-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .cookie-container {
      flex-direction: column; } }
  .cookie-container .cookie-content {
    margin-right: 2rem; }
    @media screen and (max-width: 768px) {
      .cookie-container .cookie-content {
        width: 100%;
        margin-right: 0; } }
  .cookie-container .global__btn-primary {
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .cookie-container .global__btn-primary {
        width: 100%;
        margin-top: 16px; } }

.error-container,
.error-wrapper {
  height: 100%; }

.error-container img {
  margin-top: 4rem; }

.error-container a {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 5rem auto 0;
  color: white;
  background-color: #0da360;
  font-size: 1.2rem; }
  @media screen and (max-width: 414px) {
    .error-container a {
      font-size: 1rem; } }
  .error-container a:hover {
    background-color: #075733; }

.active {
  color: #1058d9; }

.none {
  display: none; }

.mobile-height {
  height: 240px; }

/*# sourceMappingURL=index.css.map */
