.cookie-wrapper {
   position: fixed;
   z-index: 5;
   bottom: 0;
   left: 0;

   display: none;

   width: 100%;

   color: $f-color;
   background-color: rgba(10, 10, 10, 0.91);

   @include doc-padding(30px, 65px);
   @include MQ(l) {
      @include doc-padding(18px, 50px);
   }
   @include MQ(m) {
      @include doc-padding(22px, 35px);
   }
   @include MQ(s) {
      @include doc-padding(18px, 20px);
   }
}

.cookie-container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   @include MQ(m) {
      flex-direction: column;
   }

   .cookie-content {
      margin-right: 2rem;

      @include MQ(m) {
         width: 100%;
         margin-right: 0;
      }
   }

   .agree-cookies {
      @include MQ(m) {
         max-width: 300px;
         width: 100%;
         margin-top: 1.4rem;
      }
   }
}
