* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
html {
   color: $f-color;

   font-family: $p-f;
   font-size: $fs;
   font-weight: 300;
   line-height: $line-height;

   backface-visibility: hidden;
}

.main-page-wrapper,
body,
html {
   height: 100%;
}

.global {
   &__wrapper {
      @include doc-padding();
      @include MQ(l) {
         @include doc-padding($top: 70px, $side: 50px);
      }
      @include MQ(m) {
         @include doc-padding($top: 55px, $side: 35px);
      }
      @include MQ(s) {
         @include doc-padding($top: 35px, $side: 20px);
      }
   }

   &__container {
      width: 100%;
      max-width: $container-width;
      margin: 0 auto;

      @include MQ(m) {
         font-size: $fs - 2px;
      }
   }

   // **********
   // TYPOGRAPHY
   // **********
   &__h1 {
      @include title($size: 5rem, $height: 5.7rem, $ml: -6px);
   }

   &__h2 {
      @include title($size: 5rem, $height: 5.7rem, $ml: -6px);
      @include MQ(l) {
         @include title($size: 3.5rem, $height: 4rem, $ml: -4px);
      }
   }

   &__h3 {
      @include title($size: 1.3rem, $height: 1.6rem, $ml: 0);
   }

   &__body {
      line-height: 1.5rem;
   }

   // *****
   // LINKS
   // *****
   &__link {
      text-decoration: none;

      &:active {
         transform: translateY(1px);
      }

      &:hover {
         text-decoration: underline;
      }
   }

   &__link-primary {
      color: $p-color;

      @extend .global__link;

      &:hover {
         color: darken($p-color, 10%);
      }
   }

   &__link-secondary {
      text-decoration: underline;

      color: $s-color;

      @extend .global__link;

      &:hover {
         color: darken($s-color, 10%);
      }
   }

   // *******
   // BUTTONS
   // *******
   &__btn {
      display: inline-block;

      padding: 1em 3em;

      transition: all 280ms ease;
      text-align: center;
      text-decoration: none;

      font-size: 1em;

      cursor: pointer;

      &:active {
         transform: translateY(1px);
      }
   }

   &__btn-primary {
      color: $white;
      background-color: $p-color;

      @extend .global__btn;

      &:hover {
         background-color: darken($p-color, 10%);
      }
   }

   &__btn-secondary {
      color: $s-color;
      border: solid 1px $s-color;
      background-color: inherit;

      @extend .global__btn;

      &:hover {
         background-color: darken($s-color, 10%);
      }
   }
}
