.privacy-wrapper {
   @include doc-padding(50px, 65px);
   @include MQ(m) {
      @include doc-padding(35px, 35px);
   }
   @include MQ(s) {
      @include doc-padding(20px, 20px);
   }
}

.privacy {
   &__h1 {
      margin-bottom: 1.9rem;

      text-align: center;

      @include title(2.5rem, 2.9rem, 0);
      @include MQ(m) {
         @include title(2.2rem, 2.4rem, 0);
      }
   }

   &__h2 {
      margin: 2rem 0;

      @include title(2rem, 2.3rem, 0);
      @include MQ(m) {
         @include title(1.7rem, 1.9rem, 0);
      }
   }

   &__h3:not(-first-of-type) {
      margin: 1.5rem 0 1.1rem;

      @include title(1.5rem, 1.8rem, 0);
      @include MQ(m) {
         @include title(1.3rem, 1.5rem, 0);
      }
   }

   &__p {
      margin-bottom: 0.9rem;
   }

   &__btn {
      margin: 2.5rem 0;

      @include MQ(m) {
         display: block;

         width: 100%;
         max-width: 280px;
         margin: 1.8rem auto;
      }
   }
}
