.privacy-wrapper {
   h1 {
      margin-bottom: 1.9rem;

      text-align: center;
   }

   h2 {
      margin: 1.55rem 0;
   }

   h3:not(-first-of-type) {
      margin-top: 1.1rem;
      margin-bottom: 1rem;
   }

   p {
      margin-bottom: 0.9rem;
   }

   .global {
      &__btn-primary {
         margin-top: 0.9rem;

         @include MQ(s) {
            width: 100%;
         }
      }
   }
}
