$logo-width: 120px;

.footer-wrapper {
   background-color: $sub-footer;
   color: $white;

   @include doc-padding(16px);
   @include MQ(l) {
      @include doc-padding(14px, 50px);
   }
   @include MQ(m) {
      @include doc-padding(18px, 35px);
   }
   @include MQ(s) {
      @include doc-padding(18px, 25px);
   }
}

.footer-container {
   position: relative;

   display: flex;
   align-items: center;
   justify-content: space-between;

   margin: 0 auto;

   font-size: $fs - 2px;

   @include MQ(m) {
      align-items: center;
      flex-direction: column;
   }

   @include MQ(s) {
      font-size: $fs - 4px;
   }

   .dl-logo {
      width: $logo-width;
      height: auto;

      @include MQ(m) {
         margin-bottom: 20px;
      }

      & img {
         display: block;
      }

      & .tooltip {
         position: absolute;
         z-index: 1;
         top: 50%;
         left: $logo-width + 5px;

         visibility: hidden;

         width: 300px;
         padding: 12px 15px;

         transition: all 400ms ease;
         transform: translateY(-50%);
         text-align: center;

         opacity: 0;
         color: $white;
         background-color: $p-color;

         @include MQ(m) {
            top: -64px;
            left: 50%;

            transform: translateX(-50%);
         }

         &::after {
            content: "";
         }
      }

      &:hover .tooltip {
         visibility: visible;

         opacity: 1;
      }
   }

   .footer-content {
      text-align: right;

      line-height: 1.3rem;

      @include MQ(m) {
         text-align: center;
      }
   }
}
