// ***************
// COLOR VARIABLES
// ***************
$facebook: #4267b2;
$twitter: #1b95e0;
$f-color: #303030;
$p-color: #08988f;
$s-color: #0A0A0A;
$t-color: #1058d9;
$sub-footer: #3b3e3e;
$white: #ffffff;

// *************
// FONT FAMILIES
// *************
@font-face {
   font-family: 'raleway';
   src: url("../fonts/Raleway-Light.ttf");
   font-style: normal;
   font-weight: 300;
}
@font-face {
   font-family: 'ubuntu';
   src: url("../fonts/Ubuntu-Light.ttf");
   font-style: normal;
   font-weight: 300;
}

// **************
// FONT VARIABLES
// **************
$p-f: ubuntu, sans-serif;
$s-f: raleway, sans-serif;
$fs: 16px;
$line-height: $fs + 6px;

// *******************
// CONTAINER VARIABLES
// *******************
$doc-p-top: 110px;
$doc-p-side: 65px;
$website-width: 100%;
$container-width: 1300px;

// ******
// MIXINS
// ******
// for wrapper document padding
@mixin doc-padding($top: 110px, $side: 65px) {
   padding: $top $side;
}

@mixin uppercase($uppercase: uppercase, $spacing: 5px) {
   text-transform: $uppercase;
   letter-spacing: $spacing;
}

@mixin title($size, $height, $ml, $weight: 300, $family: $s-f) {
   font-size: $size;
   line-height: $height;
   font-weight: $weight;
   font-family: $family;
   margin-left: $ml;
}

// ************************
// MIXINS FOR MEDIA QUERIES
// ************************
$breakpoints: (
   xs: 320px, // iPhone 5 320px
   s: 414px, // iPhone 8 plus 414px
   m: 768px, // iPad portrait 768px
   l: 1024px, // iPad landscape 1024px
   xl: 1200px // desktop and up 1200px
);

@mixin MQ($size) {
   $breakpoint: map-get($breakpoints, $size);
   @media screen and (max-width: $breakpoint) {
      @content;
   }
}
