---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

   {% include nav.html %}
   {{content}}
   {% include cookie-banner.html %}
   {% include subfooter.html %}

   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"></script> 
   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '{{ site.google-analytics }}');
   </script>
   <script src="{{site.baseurl}}../js/bundle.js"></script>
</body>

</html>